/* custom styling for footer component */

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-top: 1px solid var(--ifm-color-emphasis-300);
  padding: 1rem 1rem;
}

#icons {
  display: flex;
  gap: 0.75rem;
}

svg.bsGithub,
svg.faDiscord {
  vertical-align: middle;
  width: 1.5em; 
  height: 1.5em;
  color: var(--ifm-font-color-secondary)
}

svg.bsGithub:hover,
svg.faDiscord:hover {
  fill: var(--ifm-link-color);
}
