::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #2b374b;
}

::-webkit-scrollbar-thumb {
  background: #0f172a;
}

::-webkit-scrollbar-thumb:hover {
  background: #182234;
}

* { /** Remove blue highlight on mobile. */
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/** Utility for the phantoms pads on the devices. */
.__phantom-pad::after {
  @apply bg-gray-900 block box-border h-full w-full bg-clip-content;
  
  content: "";
  padding: 2px;
}

.__lp_pro_mk3_bottom_pad {
  aspect-ratio: 2 / 1;
}